body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
  display: grid; /* Mudado de flex para grid */
  place-items: center; /* Substitui justify-content e align-items para centralização em grid */
  height: 100vh;
  color: #333;
}

.login-container {
  text-align: center;
  width: 500px; /* Largura fixa */
  max-width: 90%; /* Garante que não transborde em telas muito pequenas antes da media query */
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: grid; /* Adiciona display grid */
  justify-items: center; /* Centraliza itens horizontalmente */
}

.logo {
  width: 200px; /* Ajustar conforme necessário */
  margin-bottom: -10px;
}

.login-box h1 {
  color: #007396; /* Atualizado para tom mais claro */
  margin-bottom: -10px;
  font-size: 28px;
}

.login-box h2 {
  color: #007396; /* Atualizado para tom mais claro */
  margin-bottom: 45px;
  font-size: 18px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 14px 10px; /* Aumentado o padding vertical */
  border: 1px solid #b0b7bd; /* Cor da borda atualizada */
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #d2d4d6;
}

.input-group ::placeholder {
  color: black;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Ou ajuste conforme necessário */
  width: 100%; /* Garante que ocupe toda a largura do formulário */
  gap: 10px; /* Adicionado espaço entre os itens flex */
}

.remember-me-group {
  display: flex;
  align-items: center;
  font-size: 16px; /* Mudado de 14px para 16px */
  color: #555;
}

.remember-me-group input[type="checkbox"] {
  margin-right: 5px;
  border: 1px solid #007396; /* Cor da borda */
  accent-color: #b0b7bd; /* Cor interna quando marcado */
  width: 16px; /* Opcional: Define tamanho explicitamente para melhor controle */
  height: 16px; /* Opcional: Define tamanho explicitamente para melhor controle */
}

.remember-me-group label {
  margin-bottom: 0; /* Sobrescreve a margem padrão do label, se houver */
  font-weight: normal; /* Sobrescreve o peso da fonte padrão do label, se houver */
  white-space: nowrap; /* Impede a quebra da linha no label */
}

.forgot-password-link {
  font-size: 16px; /* Mudado de 14px para 16px */
  color: #007396; /* Atualizado para tom mais claro */
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0; /* Ajustar margem conforme necessário */
  width: calc(
    100% + 40px
  ); /* Excede a largura do input, ajuste 40px conforme necessário */
  margin-left: -20px; /* Centraliza o separador estendido */
}

.separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd; /* Cor da linha */
}

.separator .or-text {
  margin: 0 15px; /* Espaço ao redor do "ou" */
  color: #888; /* Cor do texto para "ou" */
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007396; /* Atualizado para tom mais claro */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #005f7a; /* Tom mais escuro para o hover do novo tom mais claro */
}

.links-bottom {
  text-align: center; /* Centraliza o link de cadastro */
  margin-top: 15px; /* Espaço acima do link de cadastro */
}

.links-bottom a {
  color: #007396; /* Tom mais claro */
  text-decoration: none;
  font-size: 14px;
}

.links-bottom a:hover {
  text-decoration: underline;
}

/* Media query para telas menores */
@media (max-width: 600px) {
  .login-container {
    width: 90%; /* Reduz a largura em telas pequenas */
  }
  .login-box {
    width: 100%; /* Login box ocupa toda a largura do container */
    padding: 20px; /* Ajusta o padding para telas pequenas */
  }
  .logo {
    width: 150px; /* Ajusta o tamanho do logo em telas pequenas */
  }
}
